html, body {
  margin: 0px;
  height: 100% !important; }

h1 {
  font-family: "dosis", sans-serif;
  color: #333333;
  font-size: 3em; }

h2 {
  font-family: "dosis", sans-serif;
  color: #44586C;
  font-size: 2em;
  margin: 5px 0; }

h3 {
  font-family: "dosis", sans-serif;
  color: #44586C;
  font-size: 1.5em;
  margin-bottom: 5px; }

a {
  text-decoration: none;
  color: #D05148; }

p {
  font-family: "comfortaa", sans-serif;
  color: #333333; }

.btnBig {
  text-decoration: none;
  padding: 15px 40px;
  font-family: "comfortaa", sans-serif;
  background-color: #44586C;
  color: #FEF5DC;
  border-radius: 5px;
  text-align: center; }
  .btnBig:hover {
    background-color: #D05148; }

.btnSmall {
  text-decoration: none;
  padding: 8px 20px;
  font-family: "comfortaa", sans-serif;
  background-color: #44586C;
  color: #FEF5DC;
  border-radius: 3px;
  text-align: center; }
  .btnSmall:hover {
    background-color: #D05148; }

.indholdselement {
  background-color: #FEF5DC;
  width: 90%;
  margin: 2em auto;
  display: flex;
  flex-direction: column; }
  .indholdselement .indholdstekst {
    width: 90%;
    margin: 3% auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
  .indholdselement .indholsbillede {
    overflow: hidden; }
    .indholdselement .indholsbillede img {
      height: 100%;
      width: 100%; }

.sidetitel {
  position: absolute;
  top: 0;
  z-index: -1;
  height: 50%;
  overflow: hidden; }
  .sidetitel img {
    width: 110%;
    position: relative;
    float: right;
    bottom: 15%; }
  .sidetitel .sidetiteloverskrift {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 40%;
    background: linear-gradient(rgba(255, 255, 255, 0), white); }
    .sidetitel .sidetiteloverskrift h1 {
      margin-left: 10%;
      margin-top: 5%; }

.mainMargin {
  margin-top: 40%; }

@media screen and (min-width: 700px) {
  .indholdselementReverse {
    flex-direction: row-reverse !important; }

  .indholdselement {
    flex-direction: row;
    width: 80%; }
    .indholdselement .indholdstekst {
      width: 60%;
      margin: 3% 8%; }
    .indholdselement .indholsbillede {
      width: 50%; } }
footer {
  margin-bottom: 50px; }
  footer .footerInformationer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    margin: auto; }
    footer .footerInformationer .footerIndhold {
      width: 100%;
      margin: auto; }
      footer .footerInformationer .footerIndhold p {
        line-height: 1.4; }
      footer .footerInformationer .footerIndhold img {
        display: none;
        width: 100%;
        max-width: 220px;
        margin-top: 24px; }
  footer .linebreakFooter {
    background-color: #44586C;
    height: 1px;
    width: 80%;
    margin: 30px auto; }
  footer .footerCopySocial {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: auto; }
    footer .footerCopySocial a {
      font-size: 2em;
      margin-left: 20px;
      color: #44586C; }
      footer .footerCopySocial a:hover {
        color: #333333; }
  @media screen and (min-width: 500px) {
    footer .footerInformationer {
      flex-direction: row;
      flex-wrap: wrap; }
      footer .footerInformationer .footerIndhold {
        width: 200px; }
        footer .footerInformationer .footerIndhold img {
          display: block; }
    footer .footerCopySocial a {
      font-size: 3em; } }

.googleMaps {
  background-color: #BEDCCE;
  height: 500px;
  width: 100%; }

header {
  background-color: white;
  padding-bottom: 15px; }
  header .logo-mobil {
    display: block;
    position: relative;
    z-index: 2;
    top: 10px;
    left: 10px; }
    header .logo-mobil img {
      width: 100px; }
  header .logo-web {
    display: none; }
  header .topnav {
    position: absolute;
    top: 30px;
    right: 20px;
    z-index: 10; }
    header .topnav .menuknap {
      font-size: 2.5em;
      color: #44586C;
      cursor: pointer; }
    header .topnav .topnavContentWrapper {
      display: none;
      background-color: rgba(27, 35, 42, 0.8);
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      right: 0;
      z-index: 100;
      margin: auto; }
      header .topnav .topnavContentWrapper .burgermenuClose {
        position: absolute;
        top: 30px;
        right: 30px;
        font-size: 2.5em;
        color: #FEF5DC;
        cursor: pointer; }
      header .topnav .topnavContentWrapper .topnavContent {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
        header .topnav .topnavContentWrapper .topnavContent a {
          width: auto;
          color: #FEF5DC;
          text-align: center;
          margin: auto;
          padding: 15px;
          text-decoration: none;
          font-size: 1.4em;
          font-family: "dosis", sans-serif; }
        header .topnav .topnavContentWrapper .topnavContent .menuExpand {
          display: flex;
          flex-direction: column; }
          header .topnav .topnavContentWrapper .topnavContent .menuExpand .menuExpandHide {
            font-size: 1em;
            padding: 6px !important; }
  @media screen and (min-width: 900px) {
    header {
      background-color: inherit; }
      header .logo-mobil {
        display: none; }
      header .logo-web {
        display: block; }
        header .logo-web a img {
          display: flex;
          margin: 5px 30px;
          width: 150px;
          padding-top: 15px; }
      header .topnav .menuknap {
        display: none; }
      header .topnav .topnavContentWrapper {
        display: block;
        background-color: inherit;
        height: auto;
        top: inherit;
        position: absolute !important; }
        header .topnav .topnavContentWrapper .burgermenuClose {
          display: none; }
        header .topnav .topnavContentWrapper .topnavContent {
          flex-direction: row !important;
          float: right;
          top: 15px;
          right: -350px !important;
          left: inherit; }
          header .topnav .topnavContentWrapper .topnavContent .menuExpand {
            width: auto;
            display: flex;
            flex-direction: column; }
            header .topnav .topnavContentWrapper .topnavContent .menuExpand .menuExpandFixed {
              position: relative; }
            header .topnav .topnavContentWrapper .topnavContent .menuExpand .menuExpandHide {
              font-size: 1em !important;
              background-color: white;
              padding: 12px !important;
              display: none; }
              header .topnav .topnavContentWrapper .topnavContent .menuExpand .menuExpandHide:hover {
                background-color: #BEDCCE; }
            header .topnav .topnavContentWrapper .topnavContent .menuExpand:hover {
              transform: translate(0, 30.5%); }
              header .topnav .topnavContentWrapper .topnavContent .menuExpand:hover .menuExpandHide {
                display: block; }
            header .topnav .topnavContentWrapper .topnavContent .menuExpand a {
              width: 90px; }
          header .topnav .topnavContentWrapper .topnavContent .menuExpandKontakt:hover {
            transform: translate(0, 30.5%); }
          header .topnav .topnavContentWrapper .topnavContent a {
            font-size: 1.5em !important;
            padding: 20px !important;
            color: #333333; }
            header .topnav .topnavContentWrapper .topnavContent a:hover {
              background-color: #BEDCCE; } }

.oversigtskort {
  position: relative;
  background-image: url("http://www.jonasbonde.dk/wp-content/uploads/2018/05/kort900x950-01.png");
  width: 900px;
  height: 950px;
  margin: auto; }
  .oversigtskort .dot {
    color: #D05148;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    position: absolute;
    cursor: pointer;
    opacity: 0.85;
    font-size: 1.7em;
    padding-right: 25px; }
    .oversigtskort .dot:hover {
      opacity: 1; }
  .oversigtskort .videoBeskrivelse {
    height: 100%;
    width: 100%;
    display: none; }
    .oversigtskort .videoBeskrivelse .videoBeskrivelseContent {
      background-color: rgba(27, 35, 42, 0.8);
      text-align: center;
      position: fixed;
      display: flex;
      justify-content: center;
      align-content: center;
      width: 900px;
      height: 100vh; }
      .oversigtskort .videoBeskrivelse .videoBeskrivelseContent .videoBeskrivelseTekst {
        background-color: #BEDCCE;
        width: 80%;
        margin: 10%; }
        .oversigtskort .videoBeskrivelse .videoBeskrivelseContent .videoBeskrivelseTekst .kortVideoStor {
          width: 75%;
          height: 60%;
          margin: auto;
          border: none; }
        .oversigtskort .videoBeskrivelse .videoBeskrivelseContent .videoBeskrivelseTekst h2 {
          position: relative;
          margin: 5%; }
      .oversigtskort .videoBeskrivelse .videoBeskrivelseContent .overlayClose {
        position: absolute;
        top: 30px;
        right: 30px;
        font-size: 30px;
        color: #BEDCCE;
        cursor: pointer; }
        .oversigtskort .videoBeskrivelse .videoBeskrivelseContent .overlayClose:hover {
          color: #FEF5DC; }
  .oversigtskort #dotEt {
    top: 460px;
    left: 720px; }
  .oversigtskort #dotTo {
    top: 612px;
    left: 782px; }
  .oversigtskort #dotTre {
    top: 196px;
    left: 572px; }
  .oversigtskort #dotFire {
    top: 568px;
    left: 602px; }
  .oversigtskort #dotFem {
    top: 868px;
    left: 584px; }
  .oversigtskort #dotSeks {
    top: 398px;
    left: 512px; }
  .oversigtskort #dotSyv {
    top: 900px;
    left: 750px; }
  .oversigtskort #dotOtte {
    top: 572px;
    left: 532px; }

.aktiviteterUdenForPladsen {
  width: 80%;
  margin: 15% auto 5% auto; }

.filterKnapper button {
  background-color: #44586C;
  padding: 15px;
  margin: 3px;
  border: none;
  border-radius: 5px;
  color: #FEF5DC;
  font-size: 1.3em; }
  .filterKnapper button:hover {
    background-color: #D05148; }

.aktivitetElementWrapper {
  display: flex;
  flex-wrap: wrap; }
  .aktivitetElementWrapper .aktivitetElement {
    background-color: #BEDCCE;
    padding: 20px;
    width: 180px;
    margin: 10px; }
    .aktivitetElementWrapper .aktivitetElement h3 {
      margin: 5px 0; }
    .aktivitetElementWrapper .aktivitetElement p {
      margin: 5px 0 20px 0; }
    .aktivitetElementWrapper .aktivitetElement img {
      width: 100%; }

/*# sourceMappingURL=finalStyle.css.map */
