html, body {
  margin: 0px;
  height: 100% !important; }

h1 {
  font-family: "dosis", sans-serif;
  color: #333333;
  font-size: 3em; }

h2 {
  font-family: "dosis", sans-serif;
  color: #44586C;
  font-size: 2em;
  margin: 5px 0; }

h3 {
  font-family: "dosis", sans-serif;
  color: #44586C;
  font-size: 1.5em;
  margin-bottom: 5px; }

a {
  text-decoration: none;
  color: #D05148; }

p {
  font-family: "comfortaa", sans-serif;
  color: #333333;
  font-size: 1em; }

.btnBig {
  text-decoration: none;
  padding: 15px 40px;
  font-family: "comfortaa", sans-serif;
  background-color: #44586C;
  color: #FEF5DC;
  border-radius: 5px;
  text-align: center;
  width: 45%;
  margin: 10px auto 0px auto;
  cursor: pointer; }
  .btnBig:hover {
    background-color: #D05148; }

.btnSmall {
  text-decoration: none;
  padding: 8px 20px;
  font-family: "comfortaa", sans-serif;
  background-color: #44586C;
  color: #FEF5DC;
  border-radius: 3px;
  text-align: center;
  cursor: pointer; }
  .btnSmall:hover {
    background-color: #D05148; }

.indholdselement {
  background-color: #FEF5DC;
  width: 90%;
  margin: 2em auto;
  display: flex;
  flex-direction: column; }
  .indholdselement .indholdstekst {
    width: 90%;
    margin: 3% auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
  .indholdselement .indholsbillede {
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 90vw;
    height: 25vh; }

form label {
  font-family: "comfortaa", sans-serif;
  color: #44586C; }

.sidetitel {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 50%;
  width: 100%;
  background-image: url("http://bondejonas.dk/billederTilDiverseProjekter/OreStrandCampingCoverWEB-7841.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat; }
  .sidetitel .sidetiteloverskrift {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 40%;
    background: linear-gradient(rgba(255, 255, 255, 0), white); }
    .sidetitel .sidetiteloverskrift h1 {
      margin-left: 10%;
      margin-top: 5%; }

.sidetitelVideo {
  position: absolute;
  top: 85px;
  bottom: 0;
  width: 100%;
  height: 50vh;
  overflow: hidden;
  z-index: -2;
  display: none; }
  .sidetitelVideo video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.mainMargin {
  margin-top: 40vh; }

@media screen and (min-width: 700px) {
  .indholdselementReverse {
    flex-direction: row-reverse !important; }

  .indholdselement {
    flex-direction: row;
    width: 80%; }
    .indholdselement .indholdstekst {
      width: 30%;
      margin: 5% 10%; }
    .indholdselement .indholsbillede {
      width: 50%;
      height: auto; }

  main {
    margin-top: 55vh; }

  .sidetitelVideo {
    display: block; } }
@media screen and (min-width: 900px) {
  .sidetitelVideo {
    top: 153px; }

  .videoerMobil {
    display: none; }

  .kortPC {
    display: block !important; } }
@media screen and (min-width: 1400px) {
  main {
    margin: 57vh 10% 0 10%; } }
footer {
  margin: 50px 0; }
  footer .footerInformationer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    margin: auto; }
    footer .footerInformationer .footerIndhold {
      width: 100%;
      margin: 0px auto; }
      footer .footerInformationer .footerIndhold p {
        line-height: 1.4; }
      footer .footerInformationer .footerIndhold img {
        display: none;
        width: 100%;
        max-width: 220px;
        margin-top: 28px; }
  footer .linebreakFooter {
    background-color: #44586C;
    height: 1px;
    width: 80%;
    margin: 30px auto; }
  footer .footerCopySocial {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: auto; }
    footer .footerCopySocial a {
      font-size: 2em;
      margin-left: 20px;
      color: #44586C; }
      footer .footerCopySocial a:hover {
        color: #333333; }
  @media screen and (min-width: 500px) {
    footer .footerInformationer {
      flex-direction: row;
      flex-wrap: wrap; }
      footer .footerInformationer .footerIndhold {
        width: 200px; }
        footer .footerInformationer .footerIndhold img {
          display: block; }
    footer .footerCopySocial a {
      font-size: 3em; } }

.googleMaps {
  background-color: #BEDCCE;
  height: 500px;
  width: 90%;
  margin: auto; }

@media screen and (min-width: 700px) {
  .googleMaps {
    width: 80%; } }
header {
  padding-bottom: 15px; }
  header figure {
    margin: 0; }
  header .logo-mobil {
    display: block;
    position: relative;
    z-index: 2;
    top: 10px;
    left: 10px; }
    header .logo-mobil img {
      width: 100px; }
  header .logo-web {
    display: none; }
  header .topnav {
    position: absolute;
    top: 30px;
    right: 20px;
    z-index: 10; }
    header .topnav .menuknap {
      font-size: 2.5em;
      color: #44586C;
      cursor: pointer; }
    header .topnav .topnavContentWrapper {
      display: none;
      background-color: rgba(27, 35, 42, 0.8);
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      right: 0;
      z-index: 100;
      margin: auto; }
      header .topnav .topnavContentWrapper .burgermenuClose {
        position: absolute;
        top: 30px;
        right: 30px;
        font-size: 2.5em;
        color: #FEF5DC;
        cursor: pointer; }
      header .topnav .topnavContentWrapper .topnavContent {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
        header .topnav .topnavContentWrapper .topnavContent a {
          width: auto;
          color: #FEF5DC;
          text-align: center;
          margin: auto;
          padding: 15px;
          text-decoration: none;
          font-size: 1.4em;
          font-family: "dosis", sans-serif; }
        header .topnav .topnavContentWrapper .topnavContent .menuExpand {
          display: flex;
          flex-direction: column; }
          header .topnav .topnavContentWrapper .topnavContent .menuExpand .menuExpandHide {
            font-size: 1em;
            padding: 6px !important; }
        header .topnav .topnavContentWrapper .topnavContent .menuActive {
          color: #BEDCCE; }
  @media screen and (min-width: 900px) {
    header {
      background-color: inherit; }
      header .logo-mobil {
        display: none; }
      header .logo-web {
        display: block; }
        header .logo-web a img {
          display: flex;
          margin: 5px 30px;
          width: 150px;
          padding-top: 15px; }
      header .topnav .menuknap {
        display: none; }
      header .topnav .topnavContentWrapper {
        display: block;
        background-color: inherit;
        height: auto;
        top: inherit;
        position: absolute !important; }
        header .topnav .topnavContentWrapper .burgermenuClose {
          display: none; }
        header .topnav .topnavContentWrapper .topnavContent {
          flex-direction: row !important;
          float: right;
          top: 15px;
          right: -350px !important;
          left: inherit; }
          header .topnav .topnavContentWrapper .topnavContent .menuExpand {
            width: auto;
            display: flex;
            flex-direction: column; }
            header .topnav .topnavContentWrapper .topnavContent .menuExpand .menuExpandFixed {
              position: relative; }
            header .topnav .topnavContentWrapper .topnavContent .menuExpand .menuExpandHide {
              font-size: 0.9em !important;
              background-color: white;
              padding: 12px !important;
              display: none; }
              header .topnav .topnavContentWrapper .topnavContent .menuExpand .menuExpandHide:hover {
                background-color: #BEDCCE; }
            header .topnav .topnavContentWrapper .topnavContent .menuExpand:hover {
              transform: translate(0, 27.5%); }
              header .topnav .topnavContentWrapper .topnavContent .menuExpand:hover .menuExpandHide {
                display: block; }
            header .topnav .topnavContentWrapper .topnavContent .menuExpand a {
              width: 95px; }
          header .topnav .topnavContentWrapper .topnavContent .menuActive {
            color: #44586C; }
          header .topnav .topnavContentWrapper .topnavContent .menuExpandKontakt:hover {
            transform: translate(0, 29.5%); }
          header .topnav .topnavContentWrapper .topnavContent a {
            font-size: 1.5em !important;
            padding: 20px !important;
            color: #333333; }
            header .topnav .topnavContentWrapper .topnavContent a:hover {
              background-color: #BEDCCE; } }

.kortPC {
  display: none; }

.videoerMobil {
  position: relative;
  padding-bottom: 370vh;
  height: 0;
  overflow: hidden;
  margin-top: -60px; }
  .videoerMobil .videoBeskrivelseTekst {
    margin-bottom: 20px; }
    .videoerMobil .videoBeskrivelseTekst h2 {
      margin-left: 3%; }
  .videoerMobil iframe {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 32vh; }

.introVideo {
  display: flex;
  justify-content: center; }
  .introVideo iframe {
    width: 900px;
    height: 506px; }

.oversigtskort {
  position: relative;
  background-image: url("http://www.jonasbonde.dk/wp-content/uploads/2018/05/tilweb-kort-1.jpg");
  width: 900px;
  height: 950px;
  margin: auto;
  z-index: 10; }
  .oversigtskort .dot {
    color: #D05148;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    position: absolute;
    cursor: pointer;
    opacity: 0.85;
    font-size: 1.7em;
    padding-right: 25px; }
    .oversigtskort .dot:hover {
      opacity: 1; }
  .oversigtskort .videoBeskrivelse {
    height: 100%;
    width: 100%;
    display: none; }
    .oversigtskort .videoBeskrivelse .videoBeskrivelseContent {
      background-color: rgba(27, 35, 42, 0.8);
      text-align: center;
      position: fixed;
      display: flex;
      justify-content: center;
      align-content: center;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0; }
      .oversigtskort .videoBeskrivelse .videoBeskrivelseContent .videoBeskrivelseTekst {
        background-color: #BEDCCE;
        width: 80%;
        margin: 5%;
        display: flex;
        justify-content: center;
        flex-direction: column; }
        .oversigtskort .videoBeskrivelse .videoBeskrivelseContent .videoBeskrivelseTekst .kortVideoStor {
          width: 75%;
          height: 60%;
          margin: auto;
          border: none; }
        .oversigtskort .videoBeskrivelse .videoBeskrivelseContent .videoBeskrivelseTekst h2 {
          position: relative;
          margin: 5% 5% -8% 5%; }
      .oversigtskort .videoBeskrivelse .videoBeskrivelseContent .overlayClose {
        position: absolute;
        top: 30px;
        right: 30px;
        font-size: 30px;
        color: #BEDCCE;
        cursor: pointer; }
        .oversigtskort .videoBeskrivelse .videoBeskrivelseContent .overlayClose:hover {
          color: #FEF5DC; }
  .oversigtskort #dotEt {
    top: 371px;
    left: 746px; }
  .oversigtskort #dotTo {
    top: 587px;
    left: 391px; }
  .oversigtskort #dotTre {
    top: 197px;
    left: 572px; }
  .oversigtskort #dotFire {
    top: 571px;
    left: 601px; }
  .oversigtskort #dotFem {
    top: 871px;
    left: 584px; }
  .oversigtskort #dotSeks {
    top: 399px;
    left: 510px; }
  .oversigtskort #dotSyv {
    top: 718px;
    left: 200px; }
  .oversigtskort #dotOtte {
    top: 575px;
    left: 531px; }
  .oversigtskort #dotNi {
    top: 522px;
    left: 752px; }
  .oversigtskort #dotTi {
    top: 210px;
    left: 834px; }

#fb1 {
  background-image: url("http://www.kjproductions.dk/projekter/sem2eksamen/images/stemningsbilleder/OreStrandCampingWEB-9242.jpg"); }

#fb2 {
  background-image: url("http://www.kjproductions.dk/projekter/sem2eksamen/images/stemningsbilleder/OreStrandCampingWEB-7841.jpg"); }

#fb3 {
  background-image: url("http://www.kjproductions.dk/projekter/sem2eksamen/images/stemningsbilleder/OreStrandCampingWEB-9388.jpg"); }

#fb4 {
  background-image: url("http://www.kjproductions.dk/projekter/sem2eksamen/images/stemningsbilleder/OreStrandCampingWEB-7646.jpg"); }

#pb1 {
  background-image: url("http://bondejonas.dk/billederTilDiverseProjekter/OreStrandCampingCampingplads.jpg"); }

#pb2 {
  background-image: url("http://www.kjproductions.dk/projekter/sem2eksamen/images/stemningsbilleder/OreStrandCampingWEB-7841.jpg"); }

#pb3 {
  background-image: url("http://bondejonas.dk/billederTilDiverseProjekter/OreStrandCampingHytter.jpg"); }

#pb4 {
  background-image: url("http://bondejonas.dk/billederTilDiverseProjekter/OreStrandCampingSaesonplads.jpg"); }

#ab1 {
  background-image: url("http://www.kjproductions.dk/projekter/sem2eksamen/images/stemningsbilleder/OreStrandCampingWEB-9238.jpg"); }

#ab2 {
  background-image: url("http://www.kjproductions.dk/projekter/sem2eksamen/images/stemningsbilleder/OreStrandCampingWEB-9520.jpg"); }

#ab3 {
  background-image: url("http://www.kjproductions.dk/projekter/sem2eksamen/images/stemningsbilleder/OreStrandCampingWEB-7646.jpg"); }

#ab4 {
  background-image: url("http://www.kjproductions.dk/projekter/sem2eksamen/images/stemningsbilleder/OreStrandCampingWEB-7646.jpg"); }

#apb1 {
  background-image: url("http://bondejonas.dk/billederTilDiverseProjekter/OreStrandCampingMinigolf2.jpg"); }

#apb2 {
  background-image: url("http://bondejonas.dk/billederTilDiverseProjekter/OreStrandCampingMultibane.jpg"); }

#apb3 {
  background-image: url("http://bondejonas.dk/billederTilDiverseProjekter/OreStrandCampingLegeplads.jpg"); }

#apb4 {
  background-image: url("http://bondejonas.dk/billederTilDiverseProjekter/OreStrandCampingBadning.jpg "); }

#apb5 {
  background-image: url("http://bondejonas.dk/billederTilDiverseProjekter/OreStrandCampingNatur.jpg"); }

#fob1 {
  background-image: url("http://bondejonas.dk/billederTilDiverseProjekter/OreStrandCampingVelkommen.jpg"); }

#fob2 {
  background-image: url("http://bondejonas.dk/billederTilDiverseProjekter/OreStrandCampingBadebro.jpg"); }

#fab1 {
  background-image: url("http://bondejonas.dk/billederTilDiverseProjekter/OreStrandCampingVelkommen.jpg"); }

#fab2 {
  background-image: url("http://bondejonas.dk/billederTilDiverseProjekter/OreStrandCampingVelkommen.jpg"); }

#fab3 {
  background-image: url("http://bondejonas.dk/billederTilDiverseProjekter/OreStrandCampingVelkommen.jpg"); }

#fab4 {
  background-image: url("http://bondejonas.dk/billederTilDiverseProjekter/OreStrandCampingVelkommen.jpg"); }

.aktiviteterUdenForPladsen {
  width: 80%;
  margin: 15% auto 5% auto; }

.filterKnapper button {
  background-color: #44586C;
  padding: 15px;
  margin: 3px;
  border: none;
  border-radius: 5px;
  color: #FEF5DC;
  font-size: 1.3em; }
  .filterKnapper button:hover {
    background-color: #D05148; }

.aktivitetElementWrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 1.5em -7px; }
  .aktivitetElementWrapper .aktivitetElement {
    background-color: #BEDCCE;
    padding: 20px;
    width: 180px;
    margin: 10px;
    flex-direction: column;
    justify-content: space-between;
    display: flex; }
    .aktivitetElementWrapper .aktivitetElement h3 {
      margin: 5px 0; }
    .aktivitetElementWrapper .aktivitetElement p {
      margin: 5px 0 20px 0; }
    .aktivitetElementWrapper .aktivitetElement img {
      width: 100%; }

.bookingFormWrapper {
  display: none;
  background-color: rgba(27, 35, 42, 0.8);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  margin: auto; }
  .bookingFormWrapper .overlayBookingClose {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 30px;
    color: #FEF5DC;
    cursor: pointer; }
    .bookingFormWrapper .overlayBookingClose:hover {
      color: #BEDCCE; }
  .bookingFormWrapper .bookingForm {
    background-color: #FEF5DC;
    width: 70%;
    margin: auto;
    padding: 5%;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .bookingFormWrapper .bookingForm input {
      width: 100%;
      margin-bottom: 10px;
      height: 25px;
      border-radius: 5px;
      border: 1px solid gray; }
    .bookingFormWrapper .bookingForm textarea {
      width: 100%;
      margin: auto;
      border-radius: 5px;
      border: 1px solid gray; }
    .bookingFormWrapper .bookingForm input[type=submit] {
      background-color: #44586C;
      color: #FEF5DC;
      font-size: 1.2em;
      height: auto;
      padding: 10px;
      width: 60%;
      border: none;
      margin: 10px auto;
      justify-content: center; }
      .bookingFormWrapper .bookingForm input[type=submit]:hover {
        background-color: #D05148; }
    .bookingFormWrapper .bookingForm .hideOnMobile {
      display: none; }

@media screen and (min-height: 700px) {
  .hideOnMobile {
    display: block !important; } }
@media screen and (min-width: 900px) {
  .bookingForm .formInput {
    display: flex;
    justify-content: space-between; }
    .bookingForm .formInput .formInfo {
      width: 35%; }
    .bookingForm .formInput .formMessage {
      width: 60%; }
      .bookingForm .formInput .formMessage textarea {
        height: 139px; }
      .bookingForm .formInput .formMessage .bookingDato {
        display: flex;
        justify-content: space-between; }
        .bookingForm .formInput .formMessage .bookingDato .bookingDatoElement {
          width: 48%; }
          .bookingForm .formInput .formMessage .bookingDato .bookingDatoElement input[type=date] {
            width: 100%; } }
.kontaktForm {
  background-color: #FEF5DC;
  width: 80%;
  margin: auto;
  padding: 5%;
  display: flex;
  flex-direction: column; }
  .kontaktForm input {
    width: 100%;
    margin: auto;
    height: 25px;
    border-radius: 5px;
    border: 1px solid gray; }
  .kontaktForm textarea {
    width: 100%;
    margin: auto;
    border-radius: 5px;
    border: 1px solid gray; }
  .kontaktForm input[type=submit] {
    background-color: #44586C;
    color: #FEF5DC;
    font-size: 1.2em;
    height: auto;
    padding: 10px;
    width: 60%;
    border: none;
    justify-content: center; }
    .kontaktForm input[type=submit]:hover {
      background-color: #D05148; }

@media screen and (min-width: 900px) {
  .kontaktForm {
    width: 70%; }
    .kontaktForm .formInput {
      display: flex;
      justify-content: space-between; }
      .kontaktForm .formInput .formInfo {
        width: 35%; }
      .kontaktForm .formInput .formMessage {
        width: 60%; }
        .kontaktForm .formInput .formMessage textarea {
          height: 218px; } }
.omOsPerson {
  width: 80%;
  padding: 5%;
  margin: 2em auto;
  background-color: #FEF5DC; }
  .omOsPerson img {
    width: 100%; }

@media screen and (min-width: 600px) {
  .omOsWrapper {
    display: flex;
    width: 82.5%;
    margin: auto; }
    .omOsWrapper .omOsPerson {
      width: auto;
      padding: 3%;
      margin: 1em; } }

/*# sourceMappingURL=finalStyle.css.map */
