// ----------VARIABLER---------

// ---------Farver---------
$color-pri-black: #333333;
$color-pri-darkblue: #44586C;
$color-pri-lightblue: #BEDCCE;
$color-pri-sand: #FEF5DC;
$color-pri-red: #D05148;

// ---------Font---------

