// ----------VARIABLER---------

// ---------Farver---------
$color-pri-black: #333333;
$color-pri-darkblue: #44586C;
$color-pri-lightblue: #BEDCCE;
$color-pri-sand: #FEF5DC;
$color-pri-red: #D05148;

// ---------Font---------
$font-primary-header: 'dosis', sans-serif;
$font-primary-text: 'comfortaa', sans-serif;


// SIKRE, AT DER IKKE ER EKSTRA MARGEN
html, body{
  margin: 0px;
  height: 100%!important;
}


// STYLER ALLE H1
h1{
  font-family: $font-primary-header;
  color: $color-pri-black;
  font-size: 3em;
}

// STYLER ALLE H2
h2{
  font-family: $font-primary-header;
  color: $color-pri-darkblue;
  font-size: 2em;
  margin: 5px 0;
}

// STYLER ALLE H3
h3{
  font-family: $font-primary-header;
  color: $color-pri-darkblue;
  font-size: 1.5em;
  margin-bottom: 5px;
}

a{
  text-decoration: none;
  color: $color-pri-red;
}

// STYLER ALLE p
p{
  font-family: $font-primary-text;
  color: $color-pri-black;
}

// STYLER ALLE .btnBig
.btnBig{
  text-decoration: none;
  padding:15px 40px;
  font-family: $font-primary-text;
  background-color: $color-pri-darkblue;
  color: $color-pri-sand;
  border-radius: 5px;
  text-align: center;
  &:hover{
    background-color: $color-pri-red;
  }
}

// STYLER ALLE .btnSmall
.btnSmall{
  text-decoration: none;
  padding:8px 20px;
  font-family: $font-primary-text;
  background-color: $color-pri-darkblue;
  color: $color-pri-sand;
  border-radius: 3px;
  text-align: center;
  &:hover{
    background-color: $color-pri-red;
  }
}

// STYLER ALLE INDHOLDSELEMENTER
.indholdselement{
  background-color: $color-pri-sand;
  width: 90%;
  margin:2em auto;
  display: flex;
  flex-direction: column;
  .indholdstekst{
    width: 90%;
    margin: 3% auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .indholsbillede{
    overflow: hidden;
    img{
      width:100%;
      height: 100%;
    }
  }
}

// STYLER ALLE SIDETITLER MED BILLEDER
.sidetitel{
  position: absolute;
  top: 0;
  z-index: -1;
  height: 50%;
  overflow: hidden;
  img{
    width: 110%;
    position: relative;
    float: right;
    bottom: 15%;
  }
  .sidetiteloverskrift{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 40%;
    background: linear-gradient( rgba(255,255,255,0), rgba(255,255,255,1));
    h1{
      margin-left: 10%;
      margin-top: 5%;
    }
  }
}
.mainMargin{
  margin-top: 40%;
}

@media screen and(min-width: 700px){

  .indholdselementReverse{
    flex-direction: row-reverse!important;
  }
  .indholdselement{
    flex-direction: row;
    width: 80%;
    .indholdstekst{
      width: 50%;
      margin: 3%;
    }
    .indholsbillede{
      width: 50%;
    }
  }
}

