.aktiviteterUdenForPladsen{
  width: 80%;
  margin: 15% auto 5% auto;
}

.filterKnapper{
  button{
    background-color: $color-pri-darkblue;
    padding: 15px;
    margin: 3px;
    border: none;
    border-radius: 5px;
    color: $color-pri-sand;
    font-size: 1.3em;
    &:hover{
      background-color: $color-pri-red;
    }
  }
}


.aktivitetElementWrapper{
  display: flex;
  flex-wrap: wrap;
  .aktivitetElement{
    background-color: $color-pri-lightblue;
    padding: 20px;
    width: 180px;
    margin: 10px;

    //Kasper
    flex-direction: column;
    justify-content: space-between;
    display: flex;

    h3{
      margin: 5px 0;
    }
    p{
      margin: 5px 0 20px 0;
    }
    img{
      width: 100%;
    }
  }
}