.mainFilter{
  width: 80%;
  margin: 5% auto;
}

.filterKnapper{
  button{
    background-color: $color-pri-darkblue;
    padding: 15px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    color: $color-pri-sand;
    &:hover{
      background-color: $color-pri-red;
    }
  }
}


.aktivitetElementWrapper{
  display: flex;
  flex-wrap: wrap;
  .aktivitetElement{
    background-color: $color-pri-lightblue;
    padding: 20px;
    width: 150px;
    margin: 10px;
  }
}