

//HEADER STYLING - GÆLDER BÅDE MOBIL OG PC
header{
  background-color: white;
  padding-bottom: 15px;
  //Mobil logo vises og styles
  .logo-mobil{
    display: block;
    position: relative;
    z-index: 2;
    top: 10px;
    left: 10px;
    img{
      width: 100px;
    }
  }
  //Web logo skjules
  .logo-web{
    display: none;
  }
  //Top nav styling
  .topnav{
    position: absolute;
    top: 30px;
    right: 20px;
    z-index: 10;
    .menuknap{
      font-size: 2.5em;
      color: $color-pri-darkblue;
      cursor: pointer;
    }
    .topnavContentWrapper {
      display: none;
      background-color: rgba(27, 35, 42, 0.8);
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      right: 0;
      z-index: 100;
      margin: auto;
      .burgermenuClose{
        position: absolute;
        top: 30px;
        right: 30px;
        font-size: 2.5em;
        color: $color-pri-sand;
        cursor: pointer;
      }
      .topnavContent {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        a{
          width: auto;
          color: $color-pri-sand;
          text-align: center;
          margin:auto;
          padding: 15px;
          text-decoration: none;
          font-size: 1.4em;
          font-family: $font-primary-header;
        }
        .menuExpand{
          display: flex;
          flex-direction: column;
          .menuExpandHide{
            font-size: 1em;
            padding: 6px!important;
          }
        }

      }
    }
  }



  //CSS GÆLDER KUN FOR PC-HEADER (ALM. MENU)
  @media screen and(min-width: 900px){
    background-color: inherit;
    //Skjuler logo på mobil
    .logo-mobil{
      display: none;
    }
    //Styler web logo
    .logo-web{
      display: block;
      a{
        img{
          display: flex;
          margin: 5px 30px;
          width: 150px;
          padding-top: 15px;
        }
      }
    }
    //Styler top nav-bar
    .topnav{
      .menuknap{
        display: none;
      }
      .topnavContentWrapper {
        display: block;
        background-color: inherit;
        height: auto;
        top: inherit;
        position: absolute!important;
        .burgermenuClose{
          display: none;
        }
        .topnavContent {
          flex-direction: row !important;
          float: right;
          top: 15px;
          right: -300px!important;
          left: inherit;
          .menuExpand{
            width: auto;
            display: flex;
            flex-direction: column;
            .menuExpandFixed{
              position: relative;
            }
            .menuExpandHide{
              font-size: 1em!important;
              background-color: white;
              padding: 12px!important;
              display: none;
              &:hover{
                background-color: $color-pri-lightblue;
              }
            }
            &:hover{
              transform: translate(0,30.5%);
              .menuExpandHide{
                display: block;
              }
            }
            a{
              width: 90px;
            }
          }
          .menuExpandKontakt{
            &:hover {
              transform: translate(0, 30.5%);
            }
          }
          //Styler menupunkter
          a {
            font-size: 1.5em !important;
            padding: 20px !important;
            color: $color-pri-black;
            &:hover {
              background-color: $color-pri-lightblue;
            }
          }
        }
      }

    }
  }
}