//Forside billeder

//Kasper
#fb1{
  background-image: url(http://www.kjproductions.dk/projekter/sem2eksamen/images/stemningsbilleder/OreStrandCampingWEB-9242.jpg);
}

#fb2{
  background-image: url(http://www.kjproductions.dk/projekter/sem2eksamen/images/stemningsbilleder/OreStrandCampingWEB-7841.jpg);
}

#fb3{
  background-image: url(http://www.kjproductions.dk/projekter/sem2eksamen/images/stemningsbilleder/OreStrandCampingWEB-9388.jpg);
}

#fb4{
  background-image: url(http://www.kjproductions.dk/projekter/sem2eksamen/images/stemningsbilleder/OreStrandCampingWEB-7646.jpg);
}

//Priser billeder


#pb1{
   background-image: url(http://www.kjproductions.dk/projekter/sem2eksamen/images/stemningsbilleder/OreStrandCampingWEB-9242.jpg);
}

#pb2{
  background-image: url(http://www.kjproductions.dk/projekter/sem2eksamen/images/stemningsbilleder/OreStrandCampingWEB-7841.jpg);
}

#pb3{
  background-image: url(http://www.kjproductions.dk/projekter/sem2eksamen/images/stemningsbilleder/OreStrandCampingWEB-9388.jpg);
}

#pb4{
  background-image: url(http://www.kjproductions.dk/projekter/sem2eksamen/images/stemningsbilleder/OreStrandCampingWEB-7646.jpg);
}

//Aktiviteter billeder

#ab1{
  background-image: url(http://www.kjproductions.dk/projekter/sem2eksamen/images/stemningsbilleder/OreStrandCampingWEB-9238.jpg);
}

#ab2{
  background-image: url(http://www.kjproductions.dk/projekter/sem2eksamen/images/stemningsbilleder/OreStrandCampingWEB-9520.jpg);
}

#ab3{
  background-image: url(http://www.kjproductions.dk/projekter/sem2eksamen/images/stemningsbilleder/OreStrandCampingWEB-7646.jpg);
}

#ab4{
  background-image: url(http://www.kjproductions.dk/projekter/sem2eksamen/images/stemningsbilleder/OreStrandCampingWEB-7646.jpg);
}


//Aktiviteter på pladsen billeder

#apb1{
  background-image: url("http://bondejonas.dk/billederTilDiverseProjekter/OreStrandCampingMinigolf2.jpg");
}

#apb2{
  background-image: url("http://bondejonas.dk/billederTilDiverseProjekter/OreStrandCampingMultibane.jpg");
}

#apb3{
  background-image: url("http://bondejonas.dk/billederTilDiverseProjekter/OreStrandCampingLegeplads.jpg");
}

#apb4{
  background-image: url("http://bondejonas.dk/billederTilDiverseProjekter/OreStrandCampingBadning.jpg ");
}

#apb5{
  background-image: url("http://bondejonas.dk/billederTilDiverseProjekter/OreStrandCampingNatur.jpg");
}

//Find os billeder

#fob1{
  background-image: url("http://bondejonas.dk/billederTilDiverseProjekter/OreStrandCampingVelkommen.jpg");
}

#fob2{
  background-image: url("http://bondejonas.dk/billederTilDiverseProjekter/OreStrandCampingBadebro.jpg");
}
